<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SistemaGHMM</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SistemaGHMM.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/c675666b72.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="header">
            <div class="div-opcoes">
                <div class="logo">
                    <a class="button-logo" asp-area="Home" asp-controller="Home" asp-action="Index">GHMM</a>
                </div>

                <div class="caixa-nav-opções">
                    <ul class="navbar-nav-1">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="usuarioDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Usuário
                            </a>
                            <div class="dropdown-menu" aria-labelledby="usuarioDropdown">
                                <a class="dropdown-item" asp-area="" asp-controller="Cargo" asp-action="Index">Cargo</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Setor" asp-action="Index">Setor</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Usuario" asp-action="Index">Usuário</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="maquinaDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Maquina
                            </a>
                            <div class="dropdown-menu" aria-labelledby="maquinaDropdown">
                                <a class="dropdown-item" asp-area="" asp-controller="TipoMaquina" asp-action="Index">Tipo Maquina</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Fabricante" asp-action="Index">Fabricante</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Maquina" asp-action="Index">Maquina</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="manutencaoDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Manutenção
                            </a>
                            <div class="dropdown-menu" aria-labelledby="manutencaoDropdown">
                                <a class="dropdown-item" asp-area="" asp-controller="TipoManutencao" asp-action="Index">Tipo Manutenção</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="pecaDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Peça
                            </a>
                            <div class="dropdown-menu" aria-labelledby="pecaDropdown">
                                <a class="dropdown-item" asp-area="" asp-controller="Fornecedor" asp-action="Index">Fornecedor</a>
                                <a class="dropdown-item" asp-area="" asp-controller="CategoriaPeca" asp-action="Index">Categ. Peça</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="manutencaopecasDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Manutenção/Peças
                            </a>
                            <div class="dropdown-menu" aria-labelledby="manutencaopecaDropdown">
                                <a class="dropdown-item" asp-area="" asp-controller="Manutencao" asp-action="Index">Manutenção</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Peca" asp-action="Index">Peças</a>
                            </div>
                        </li>
                         <li class="nav-item dropdown">
                           <a class="nav-link dropdown-toggle" href="#" id="tecnicosDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Técnicos
                            </a>
                            <div class="dropdown-menu" aria-labelledby="tecnicosDropdown">
                                <a class="dropdown-item" asp-area="" asp-controller="TecnicoTipo" asp-action="Index">Tec. Tipo</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Tecnicos" asp-action="Index">Técnicos</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="TecnicoUsuario" asp-action="Index">Tec. Usuario</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-1">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <br />
    <br />

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Sistema GHMM
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
