@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/SneakersProjetoFinal.styles.css" asp-append-version="true" />
<script src="https://kit.fontawesome.com/c675666b72.js" crossorigin="anonymous"></script>

<body>
        <!-- Slides -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="w-100" src="https://images.tcdn.com.br/img/img_prod/219075/broca_metal_aco_rapido_hss_pointteq_6_7mm_bosch_139563_2_3961dc9567903f2c89667a93a57ea181.jpg" alt="Imagem 1">
            </div>
        </div>
</body>