html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 13.5px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

.logo .button-logo {
    color: white;
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
}

    .logo .button-logo:hover {
        color: #ccc;
    }

.header {
    background-color: #333;
    padding: 10px;
}

.div-opcoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.caixa-nav-opções {
    height: 36px;
    width: 80%;
    display: inline-flex;
}

.navbar-nav-1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-item {
    position: relative;
}

.nav-link {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
}

    .nav-link:hover {
        background-color: #555;
        color: #fff;
    }

.dropdown-menu {
    position: absolute;
    background-color: #333;
    border: none;
    display: none;
    top: 40px; 
    min-width: 160px;
    z-index: 1000;
}

.dropdown-item {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
    font-size: 16px;
}

    .dropdown-item:hover {
        background-color: #555;
    }

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.container-1 {
    padding: 20px;
    background-color: #f8f9fa;
    min-height: 80vh;
}

footer {
    background-color: #333;
    color: #aaa;
    text-align: center;
}



