@model SistemaGHMM.Models.CategoriaPecaModel

@{
    ViewData["Title"] = "Details";
}
<style>
    body {
        background-color: #1A1A1A;
        color: #FFFFFF;
        font-family: 'Arial', sans-serif;
    }

    h1, h4 {
      color: #000;
        text-align: center;
    }

    hr {
       border-top: 1px solid #FFFFFF;
    }

    dt {
        color: #A6A6A6;
    }

    dd {
        color: #FFF;
    }

    .row {
        width: 40%;
        margin: 0 auto;
        padding: 20px;
        background-color: #2E2E2E;
        border-radius: 10px;
        justify-content: center;
    }

    a {
        color: #000000;
        text-decoration: none;
    }

        a:hover {
            text-decoration: underline;
        }

    .btn-group {
        margin-top: 20px;
    }
</style>

<h1>Detalhes</h1>

<div>
    <h4>Categoria Peça</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoriaPecaNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoriaPecaNome)
        </dd>
        <div>
            <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
            <a asp-action="Index">Voltar</a>
        </div>
    </dl>
</div>

