@model SistemaGHMM.Models.UsuarioModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>UsuarioModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FotoUrl" class="control-label"></label>
                <input asp-for="FotoUrl" class="form-control" />
                <span asp-validation-for="FotoUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioNome" class="control-label"></label>
                <input asp-for="UsuarioNome" class="form-control" />
                <span asp-validation-for="UsuarioNome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioCpf" class="control-label"></label>
                <input asp-for="UsuarioCpf" class="form-control" />
                <span asp-validation-for="UsuarioCpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioEmail" class="control-label"></label>
                <input asp-for="UsuarioEmail" class="form-control" />
                <span asp-validation-for="UsuarioEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioTelefone" class="control-label"></label>
                <input asp-for="UsuarioTelefone" class="form-control" />
                <span asp-validation-for="UsuarioTelefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioDataNascimento" class="control-label"></label>
                <input asp-for="UsuarioDataNascimento" class="form-control" />
                <span asp-validation-for="UsuarioDataNascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioEscolaridade" class="control-label"></label>
                <input asp-for="UsuarioEscolaridade" class="form-control" />
                <span asp-validation-for="UsuarioEscolaridade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CargoId" class="control-label"></label>
                <select asp-for="CargoId" class="form-control" asp-items="ViewBag.CargoId"></select>
                <span asp-validation-for="CargoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SetorId" class="control-label"></label>
                <select asp-for="SetorId" class="form-control" asp-items="ViewBag.SetorId"></select>
                <span asp-validation-for="SetorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioSenha" class="control-label"></label>
                <input asp-for="UsuarioSenha" class="form-control" />
                <span asp-validation-for="UsuarioSenha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
